html {
	background-color: #00539f;
}

.surfer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1200px / 900px;
	border: 14px groove gold;
}

main {
	width: 700px;
	margin: auto;
	background-color: #00c957;
	border: 4px solid black;
	padding: 20px;
}

.first h1{
	font-family: Arial;
	color: blue;
}

.second h1{
	font-family: Arial;
	color: red;
}

main section p {
	font-family: Arial;
	font-size: 12px;
	font-color: black;
}